<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="3">
        <span class="title-page primary-color font-weight-bold">
          My chatbots
        </span>
      </v-col>
      <v-col cols="12" md="9" class="d-flex justify-end flex-wrap align-center">
        <v-text-field
          @keyup="searchContact"
          label="Search"
          v-model="search"
          solo
          dense
          hide-details
          class="mr-2 search elevation-0"
        ></v-text-field>
        <v-btn
          dark
          color="#2cc3d5"
          class="elevation-0 mr-2"
          medium
          @click="
            orderByName(generalContacts);
            orderByName(favoriteContacts);
          "
          >Order by name</v-btn
        >
        <v-btn
          dark
          color="#2cc3d5"
          class="elevation-0 mr-2"
          medium
          @click="
            orderByCreation(generalContacts);
            orderByCreation(favoriteContacts);
          "
          >Order by creation</v-btn
        >
        <v-icon
          size="24"
          class="mr-2"
          :color="viewGrid ? '#56616e' : '#d2dfe6'"
          @click="
            viewGrid = true;
            viewLine = false;
          "
          >mdi-view-grid</v-icon
        >
        <v-icon
          size="24"
          :color="viewLine ? '#56616e' : '#d2dfe6'"
          @click="
            viewGrid = false;
            viewLine = true;
          "
          >mdi-view-agenda</v-icon
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <span class="title-page secondary-color font-weight-medium">
          Favorites
        </span>
      </v-col>
      <v-col cols="12" class="d-flex flex-wrap" v-if="viewGrid">
        <chatbot-grid
          v-on:changeItem="changeItem = $event"
          v-for="contact in favoriteContacts"
          :key="contact.shortName"
          :favorite="true"
          :id="contact.shortName"
          :avatar="contact.image"
          :name="contact.name"
          :plan="contact.plan"
        ></chatbot-grid>
      </v-col>
      <v-col cols="12" v-else>
        <chatbot-line
          v-on:changeItem="changeItem = $event"
          v-for="contact in favoriteContacts"
          :key="contact.shortName"
          :favorite="true"
          :id="contact.shortName"
          :avatar="contact.image"
          :name="contact.name"
          :created="contact.created"
        ></chatbot-line>
      </v-col>
    </v-row>
    <v-divider v-bind:class="{'mb-8': viewGrid }"></v-divider>
    <v-row>
      <v-col cols="12" class="d-flex flex-wrap" v-if="viewGrid">
        <chatbot-grid
          v-on:changeItem="changeItem = $event"
          v-for="contact in generalContacts"
          :key="contact.shortName"
          :favorite="false"
          :id="contact.shortName"
          :avatar="contact.image"
          :name="contact.name"
          :plan="contact.plan"
        ></chatbot-grid>
      </v-col>
      <v-col cols="12" v-else>
        <chatbot-line
          v-on:changeItem="changeItem = $event"
          v-for="contact in generalContacts"
          :key="contact.shortName"
          :favorite="false"
          :id="contact.shortName"
          :avatar="contact.image"
          :name="contact.name"
          :created="contact.created"
        ></chatbot-line>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ChatbotGrid from "../components/ChatbotGrid.vue";
import ChatbotLine from "../components/ChatbotLine.vue";

export default {
  components: {
    "chatbot-grid": ChatbotGrid,
    "chatbot-line": ChatbotLine,
  },
  watch: {
    changeItem: function () {
      this.changeContact();
    },
  },
  created() {
    /*
      Como esta aplicação não possuí backend nem database, para que o usuário não perca seu 
      progresso todas alterações de contatos (favoritar e desfavoritar) são salvas no localstorage.
      Caso seja a primeira vez que o usuário esteja acessando, ou o localstorage esteja limpo,
      o sistema irá buscar os dados contidos no arquivo data.json que foi préviamente salvo no início 
      da aplicação no localstorage. 
    */
    if (localStorage.general_contacts || localStorage.favorite_contacts) {
      this.generalContacts = JSON.parse(localStorage.general_contacts);
      this.favoriteContacts = JSON.parse(localStorage.favorite_contacts);
    } else {
      this.generalContacts = JSON.parse(localStorage.resources);
      localStorage.general_contacts = JSON.stringify(this.generalContacts);
    }
  },
  data: () => ({
    viewGrid: true,
    viewLine: false,
    search: "",
    changeItem: false,
    generalContacts: [],
    favoriteContacts: [],
    auxGeneralContacts: [],
    auxFavoritiesContacts: [],
  }),
  methods: {
    /*Retorna o array ordenado em ordem alfabética*/
    orderByName(arr) {
      arr.sort((a, b) => {
        return a.name > b.name ? 1 : -1;
      });
    },
    /*Retorna o array ordenado em ordem de criação*/
    orderByCreation(arr) {
      arr.sort((a, b) => {
        if (a.created > b.created) {
          return 1;
        } else if (a.created < b.created) {
          return -1;
        } else {
          /*Caso as datas de criação sejam iguais, o else será executado e ele irá ordenar em ordem alfabética*/
          if (a.name > b.name) {
            return 1;
          } else {
            return -1;
          }
        }
      });
    },
    /*Este evento é disparado ao alterar o valor da Model "Search"*/
    searchContact() {
      /*Caso Search seja vazio, será buscado o valor no localstorage dos array antes da interação com o campo Search*/
      if (this.search == "") {
        this.generalContacts = JSON.parse(localStorage.general_contacts);
        this.favoriteContacts = JSON.parse(localStorage.favorite_contacts);
      } else {
        /*A busca é sempre realizada no array de favoritos e no array de contatos gerais*/
        this.generalContacts = this.findContactByString(
          this.generalContacts,
          this.search
        );
        this.favoriteContacts = this.findContactByString(
          this.favoriteContacts,
          this.search
        );
      }
    },
    /*Retorna um array com todos os objetos cujo nome cotenha a string enviada como parâmetro*/
    /*Faz diferenciação entre letra maiscúla e minúscula, ou seja (A != a) */
    findContactByString(arr, str) {
      return arr.filter((contact) => {
        return contact.name.indexOf(str) != -1;
      });
    },
    /*Retorna o objeto encontrado cujo shortName corresponda ao id enviado*/
    /*
      Como o usuário não fornece nenhum tipo de dado a esta aplicação, a função não realiza nenhuma tratativa de dados.
      Retorna sempre a primeira e única posição encontrada
    */
    findContactById(arr, id) {
      const contact = arr.filter((contact) => {
        return contact.shortName == id;
      });
      return contact[0];
    },
    /*
      Sempre que há uma ação na tela, o método de remoção é acionado. Pois um contato não pode estar na lista geral e na lista de 
      favoritos simultaneamente.
    */
    removeContact(arr, position) {
      arr.splice(position, 1);
    },
    /*
      A partir do evento disparado pelo $emit de um dos componentes (Card block ou Card Line), o contato passado como parâmetro 
      no evento será alterado. Há duas opções, caso o changeItem na posição [1] seja falso, a ação será de favoritar o contato.
      Caso o changeItem na posição [1] seja true, o contato sera desfavoritado. 
      A posição [0] da model changeItem será sempre o ID do contato que será movido.
    */
    changeContact() {
      let contact = {};
      if (!this.changeItem[1]) {
        contact = this.findContactById(
          this.generalContacts,
          this.changeItem[0]
        );
        this.favoriteContacts.push(contact);
        this.removeContact(
          this.generalContacts,
          this.generalContacts.indexOf(contact)
        );
      } else {
        contact = this.findContactById(
          this.favoriteContacts,
          this.changeItem[0]
        );
        this.generalContacts.push(contact);
        this.removeContact(
          this.favoriteContacts,
          this.favoriteContacts.indexOf(contact)
        );
      }
      /*
        Todas mudanças são salvas no localstorage para que o progresso não seja perdido e que novas requisições não precisem ser feitas
      */
      localStorage.general_contacts = JSON.stringify(this.generalContacts);
      localStorage.favorite_contacts = JSON.stringify(this.favoriteContacts);
    },
  },
};
</script>

<style>
.search {
  max-width: 360px !important;
  border: 2px solid #e8edf1;
}
</style>