<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="d-flex align-center">
        <img src="../assets/images/blip-circle.svg" alt="" width="64px" />
        <div class="d-flex flex-column ml-2">
          <span class="title-profile primary-color font-weight-bold">
            {{ profile.name }}
          </span>
          <span class="small-text font-weight-regular">
            id: {{ profile.shortName }}
          </span>
        </div>
      </v-col>
      <v-col cols="6" class="d-flex justify-end align-center">
        <span class="normal-text tertiary-color font-weight-regular">
          <!-- Realiza uma validação no momento de criação, pois algumas datas fornecidas estão incorretas. -->
          Created at
          {{
            moment(profile.created).format("YYYY/MM/DD") == "Invalid date"
              ? String(profile.created)
                  .split("T")[0]
                  .replaceAll("-", "/") + " (Invalid date)"
              : moment(profile.created).format("YYYY/MM/DD")
          }}
        </span>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="12" md="9">
        <v-row>
          <v-col cols="4">
            <div class="pa-6 white card height-fluid">
              <div>
                <span
                  class="d-block small-text primary-color font-weight-regular"
                  >Region and idiom</span
                >
                <span
                  class="d-block normal-text primary-color font-weight-regular mt-1"
                >
                <!-- Como não é fornecido nenhuma informaçào clara sobre o idioma, fiz uma condição para caso o idioma seja diferente de português ele informar uma mensagem padrão -->
                  {{ profile.culture.split("-")[1] }} -
                  {{
                    profile.culture.split("-")[0] == "pt"
                      ? "Português"
                      : "Language not detected"
                  }}
                  ({{ profile.culture.split("-")[0].toUpperCase() }})</span
                >
              </div>
              <div class="mt-4">
                <span
                  class="d-block small-text primary-color font-weight-regular"
                  >Timezone</span
                >
                <span
                  class="d-block normal-text primary-color font-weight-regular mt-1"
                  >(UTC - 03:00) Brasília</span
                >
              </div>
            </div>
          </v-col>
          <v-col cols="8">
            <contact-profile-card
              :value="profile.analytics.user.actived"
              :icon="'user.png'"
              :color="'#2cc3d5'"
              :text="'Usuários ativos'"
            ></contact-profile-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="7">
            <contact-profile-card
              :value="profile.analytics.message.received"
              :icon="'sent.png'"
              :color="'#4dcb7b'"
              :text="'Mensagens recebidas'"
            ></contact-profile-card>
          </v-col>
          <v-col cols="5">
            <contact-profile-card
              :value="profile.analytics.message.sent"
              :icon="'union.png'"
              :color="'#517bf2'"
              :text="'Mensagens enviadas'"
            ></contact-profile-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="3" class="d-flex align-center flex-column">
        <img src="../assets/images/plano.png" alt="" />
        <span class="normal-text tertiary-color font-weight-regular mt-4">
          Status account
        </span>
        <span class="title-profile primary-color font-weight-bold capitalize">
          {{ profile.plan }}
        </span>
        <v-btn dark color="cyan darken-1" class="elevation-0 mt-8" medium
          >Update account</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ContactProfileCard from "../components/ContactProfileCard";
import moment from "moment";

export default {
  components: {
    "contact-profile-card": ContactProfileCard,
  },
  created() {
    /*Busca os dados salvos no local storage que foram previamente salvos no arquivo main.js*/
    this.profile = this.findContactById(
      JSON.parse(localStorage.resources),
      this.$route.params.id
    );
  },
  data: () => ({
    profile: {},
    moment: moment,
  }),
  methods: {
    findContactById(arr, id) {
      const contact = arr.filter((contact) => {
        return contact.shortName == id;
      });
      return contact[0];
    },
  },
};
</script>

<style scoped lang="less">
@import "../assets/less/_shadows.less";

.card {
  .shadow-card();
}
.capitalize {
  text-transform: capitalize;
}
.height-fluid {
  height: 100%;
}
</style>
