<template>
    <v-container>
        <v-row class="d-flex align-center">
            <v-col cols="12" md="12" class="d-flex justify-center align-center">
                <img src="../assets/images/bg.svg" alt="" width="100%" class="max-width">
            </v-col>
            <v-col cols="6" md="6">
                <a href="https://www.google.com" target="_blank">
                    <div class="d-flex flex-column justify-space-between align-center elevation-4 pa-4 bg-color-card">
                        <span class="text-h7 mr-2 font-weight-bold white--text">Acessar repositório</span>
                        <v-icon size="48" class="white--text mt-2">mdi-git</v-icon>
                    </div>
                </a>
            </v-col>
            <v-col cols="6" md="6">
                <router-link to="/">
                    <div class="d-flex flex-column justify-space-between align-center elevation-4 pa-4 bg-color-card">
                        <span class="text-h7 mr-2 font-weight-bold white--text">Ver aplicação</span>
                        <v-icon size="48" class="white--text mt-2">mdi-monitor</v-icon>
                    </div>
                </router-link>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {

}
</script>

<style scoped>
.max-width {
    max-width: 400px
}
    .bg-color {
        border-radius: 16px;
    }
    .bg-color-card {
        border-radius: 8px;
        background-color: #436dc2 !important;
    }
</style>