<template>
  <div class="fluid d-flex align-center">
    <img
      :src="getImgUrl()"
      alt=""
      width="24px"
      class="pointer"
      @click="changeContact()"
    />
    <router-link
      :to="{ name: 'contact_profile', params: { id: this.id } }"
      tag="div"
      class="white card d-flex align-center justify-space-between pointer px-6 py-4 ml-4"
    >
      <div class="d-flex align-center justify-center">
        <v-avatar size="32">
          <img :src="avatar" />
        </v-avatar>
        <span
          class="title-card primary-color font-weight-medium ml-3"
          >{{ name }}</span
        >
      </div>
      <!-- Como há algumas datas inválidas realizei uma tratativa para exibir a data formatada e uma mensagem alertando sobre o erro -->
      <span class="normal-text secondary-color font-weight-regular"
        >Created at {{ moment(created).format("YYYY/MM/DD") == 'Invalid date' ? String(created).split('T')[0].replaceAll('-', '/') + " (Invalid date)" : moment(created).format("YYYY/MM/DD") }}</span
      >
    </router-link>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    avatar: {
      type: String,
      required: true,
    },
    favorite: {
      type: Boolean,
      required: false,
    },
    name: {
      type: String,
      required: true,
    },
    created: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    moment: moment,
  }),
  methods: {
    getImgUrl() {
      return this.favorite ? require('../assets/images/star.png') : require('../assets/images/favorite.png')
    },
    changeContact() {
      this.$emit("changeItem", [this.id, this.favorite]);
    },
  },
};
</script>

<style scoped lang="less">
@import '../assets/less/_shadows.less';

.card {
  width: 100%;
  margin: 8px 0px;
  .shadow-card();
}
</style>