<template>
  <div class="card d-flex flex-column white pa-3">
    <!-- A imagem da estrela é dinâmica e ao clicar um evento de emit será disparado ao componente pai -->
   <img
      :src="getImgUrl()"
      alt=""
      width="24px"
      class="pointer"
      @click="changeContact()"
    />
    <router-link :to="{name: 'contact_profile', params: {id: this.id}}" tag="div" class="d-flex align-center justify-center flex-column pb-10 pointer">
      <v-avatar size="64">
        <img :src="avatar" />
      </v-avatar>
      <span class="title-card primary-color font-weight-bold mt-4">{{ name }}</span>
      <span class="normal-text secondary-color mt-1">{{ plan }}</span>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    avatar: {
      type: String,
      required: true,
    },
    favorite: {
      type: Boolean,
      required: false
    },
    name: {
      type: String,
      required: true,
    },
    plan: {
      type: String,
      required: true,
    },
  },
  methods: {
    getImgUrl() {
      return this.favorite ? require('../assets/images/star.png') : require('../assets/images/favorite.png')
    },
    /* Dispara o evento de emit passando como parâmetro o id do contato e se o contato está sendo favoritado ou desfavoritado */
    changeContact() {
      this.$emit("changeItem", [this.id, this.favorite]);
    },
  },
};
</script>

<style scoped lang="less">
@import '../assets/less/_shadows.less';

.size-icon {
  width: 24px;
}
.card {
  width: 225px;
  margin: 0px 24px 32px 0px;
  text-align: center;
  .shadow-card();
}
</style>