<template>
  <div class="card d-flex align-center white px-6 py-16">
      <div :style="{ 'background-color': color }" class="background-icon">
           <img :src="getImgUrl(icon)" alt="" height="32px">
      </div>
    <div class="d-flex flex-column ml-3">
        <span class="title-profile font-weight-bold">
            {{value}}
        </span>
        <span class="normal-text primary-color">
            {{text}}
        </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: false
    },
    text: {
      type: String,
      required: true,
    }
  },
  methods: {
    getImgUrl(icon) {
      return require('../assets/images/' + icon)
    }
  }
};
</script>

<style scoped lang="less">
@import '../assets/less/_shadows.less';

.card {
  .shadow-card();
}
.background-icon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>