@import './_colors.less';

.title-page {
    font-size: 36px;
    &.primary-color {
        color: @primary-text !important;
    }
    &.secondary-color {
        color: @secondary-text !important;
    }
}
.title-card {
    font-size: 20px;
    &.primary-color {
        color: @primary-text !important;
    }
    &.secondary-color{ 
        color: @secondary-text !important;
    }
}
.title-profile {
    font-size: 24px;
    color: @primary-text !important;
}
.normal-text {
    font-size: 16px;
    &.primary-color {
        color: @primary-text !important;
    }
    &.secondary-color {
        color: @secondary-text !important;
    }
    &.tertiary-color{
        color: @tertiary-text !important;
    }
}
.small-text {
    font-size: 14px;
    color: @tertiary-text !important;
    &.primary-color {
        color: @primary-text !important;
    }
}
