<template>
  <v-app>
    <v-app-bar
      app
      color="#192234"
      dark
      height="48px"
      class="d-flex justify-center"
    >
    <router-link to="/" class="d-flex align-center">
      <img src="./assets/images/logo.png" alt="">
    </router-link>
    </v-app-bar>
    <v-main class="background">
      <!-- Dentro do Router View será renderizado todas rotas do sistema. -->
      <router-view/>
    </v-main>
    <div class="background">
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12" class="d-flex justify-center mb-6">
            <a href="https://take.net/?__hstc=229912963.5e2b26519b439e67580f6f4de323ce3c.1603116254902.1603116254902.1603116254902.1&__hssc=229912963.2.1603116254903&__hsfp=1063385296" target="_blank" class="small-text">©2019, BLiP Todos os direitos reservados | <b>Termos de Uso</b></a>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>
<script>

export default {
  name: 'App'
};
</script>
<style lang="less">
  @import './assets/less/_font.less';
  .background {
    background-color: @grey;
  }
  .fluid {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  .pointer {
    cursor: pointer;
  }
</style>
